@font-face {
  font-family: century;
  src: url("Fonts/Century Gothic.ttf");
  }

           .body {
            margin: 0 auto;
            font-family: century !important;
            font-weight: 800;
        }

        .home {
            display: flex;
            height: 100vh;
           
        }

        .leftSideMenu {
            flex: 0 0 auto;
            width: 500px;
            overflow-y: auto;
            min-height: 100vh;
            background-image: url(./images/back.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;   
}
        .leftSideMenu>img{
            display: block;
            position: fixed;
            width: 50px;
            height: 50px;
            top:50px;
            left: 50px;

        }

        .rightSideContent {
            flex: 1 1 auto;
            min-height: 100vh;
            overflow-y: auto;
        }

/*====left========*/
.main{
    
    position: fixed;
    color: #fff;
    display: block;
    text-align: left;
    bottom: 50px;
    margin-left: 50px;

}
.main .text{
    font-weight: bold;
    font-size: 45px;
}
 .button{
    margin-top: 10px;
    display: inline-block; 
    background-color: white;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    text-align: center;
 }
.button>a{
    font-size: 20px;
    font-weight: bold;
    font-family: century;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    color: orangered;

}

.button:hover{
   animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
   
}
.button>a:hover{
     text-decoration-line: none;
}

 /*====css========*/


}
.s2{
    height: 95vh;
    
    background-color: #ffff00;
}
.s3{
    height: 95vh;
    background-image: linear-gradient(120deg, #f093fb 0%, #0336ff 100%);
}
.s4{
    height: 95vh;
    background-image: linear-gradient(120deg, #f093fb 0%, #0336ff 100%);
}
.s5{
    height: 95vh;
    background-color:#444444;
}


.swiper-wrapper{
   height: 100vh;  
   vertical-align: middle;
    
}
.swiper-slide>h1{
    color: #ffffffa0;
    font-family: century;
    font-size: 35px;
    padding-top: 40px;
    margin-left: 30px;
}
.swiper_slide{

    height: 100vh;
}

.swiper-slide>img{
    
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 70vh;
    margin-left: auto;
    margin-right:auto;
    margin-top: 15px; 
}
 .swiper-slide>a>img{
    display: inline-block;
    position: absolute;
    width: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
    right: 40px;
}
.anim{
    animation: Slide_Up 1.25s;
}
.swiper-pagination{
    display: none;
}
/*==============*/
.bottomtab
{
    position:fixed;
    bottom:0;
    width:100%;
    z-index:22;
    background-color:#ffffff !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: orangered !important;
    border: 0px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border:0px;
}
a:hover{

    animation-name: hover;
    animation-duration:1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: orangered!important;
    border: 0px;
    background-color: #fff;
}
.nav-link{
    font-family: century;
    font-size: 20px;
    border-color: none !important;
    color: #444;
}
.gallery-top-g1 {

      padding-top:30px;
      height: 63%;
      width: 80%;
    }
    .gallery-top-g1 .swiper-slide{
        background-size:contain;  
        background-repeat: no-repeat;
    }
    .gallery-thumbs-g1 {
       
      height: 18%;
      width:80%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs-g1 .swiper-slide {
      width: 10%;
      height: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.4;
    }
    .gallery-thumbs-g1 .swiper-slide-thumb-active {
      opacity: 1;
      background-size: contain;
    }

    .gallery-top-g2{

      padding-top:30px;
      height: 63%;
      width: 80%;
    }
    .gallery-top-g2 .swiper-slide{
        background-size:contain;  
        background-repeat: no-repeat;

    }

    .gallery-thumbs-g2 {
       
      height: 18%;
      width:80%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs-g2 .swiper-slide {
      width: 10%;
      height: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.4;
    }
    .gallery-thumbs-g2 .swiper-slide-thumb-active {
      opacity: 1;
      background-size: contain;
    }



    .gallery-top-stick {

      padding-top:30px;
      height: 60%;
      width: 40%;
    }
    .gallery-top-stick .swiper-slide{

        background-size:contain;  
        background-repeat: no-repeat;

    }

    .gallery-thumbs-stick {
       
      height: 50%;
      width:80%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs-stick .swiper-slide {
      width: 10%;
      height: 130px;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.4;
    }
    .gallery-thumbs-stick .swiper-slide-thumb-active {
      opacity: 1;
      background-size: contain;
    }


@keyframes Slide_Up{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}
.hover {
  display: inline-block;
  transition-duration: .5s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hover:hover {
  transform: translateY(-6px);
  
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.wobble-horizontal {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

